h1 {
  font-family: 'Faster One', cursive;
}

a:hover {
  color: white;
  text-decoration: none;
}

.btn-text-white {
  color:white;
}

.btn-text-center {
  text-align:center;
}

.btn-add-margin {
  margin: 15px 0;
}

.add-margin-below-date-picker{
  margin-bottom: 15px;
}

.center-chart {
    margin: auto;
    width: 50%;
}

.center-pagination-bar {
    margin: auto;
    width: 50%;
}

.center-text {
    text-align: center;
}
